<div class="clearfix">
	<div class="place-search" role="search">
		<a class="place-search-btn icon-search" title="搜索商家或美食"></a>
		<label for="globalsearch">搜索商家或美食</label>
		<input id="globalsearch" class="place-search-input" placeholder="搜索商家,美食...">
	</div>
	<div class="location" role="navigation">
		<span>当前位置:</span>
		<span class="location-current">
			<a class="inherit" href="/place/wtw27pnxv422">上海交通大学（闵行校区）</a>
		</span>
		<span class="location-change">
			<a href="http://v5.ele.me/?force=1">[切换地址]</a>
		</span>
	</div>
</div>
<div class="place-ad" role="banner">
	<div carousel class="activity-carousel">
		<div slide ng-repeat="activity in activities">
			<a rel="nofollow" ng-href="{{activity.href}}" target="_blank" ng-click="activityClick($event)">
				<img ng-src="{{activity.image_path}}" alt="{{ activity.name }}">
			</a>
		</div>
	</div>
</div>
<div class="place-tab clearfix">
	<a href="JavaScript:" class="place-tab-item focus">外卖商家</a>
	<span class="place-tab-line"></span>
	<a href="JavaScript:" class="place-tab-item">购买过的商家</a>
	<span class="place-tab-line"></span>
	<a target="_blank" class="place-tab-item" href="http://t.dianping.com/home?latitude=31.02124&amp;longitude=121.43004&amp;distance=500&amp;utm_source=eleme1&amp;utm_medium=eleme&amp;utm_term=pc&amp;utm_content=1&amp;utm_campaign=f">附近的团购</a>
	<div class="place-fetchtakeout" show-fetch-takeout-dialog="">
		<img src="image/takeout.png" alt="谁去拿外卖">
	</div>
</div>

<div class="">
	<excavator></excavator>
	<div class="place-tips">
		<span>想吃好点的，看看附近 <var>48 家</var> 品牌商家吧，<a href="/premium">立即查看</a></span>
	</div>

	<div class="place-rstbox clearfix" >
		<rst-view data="filteredRestaurants = (rstStream.restaurants | filter: rstStream.filter | orderBy: rstStream.orderBy)"></rst-view>
	</div>

</div>
<footer class="footer" role="contentinfo">
	<div class="container clearfix">
		<dl class="footer-link">
			<dt class="footer-link-title">用户帮助</dt>
			<dd>
				<a class="footer-link-item" href="http://ele.me/support/center" target="_blank">服务中心</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="http://ele.me/support/question/default" target="_blank">常见问题</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="/customerservice?jid=1820947377&amp;companyID=402791&amp;configID=123801&amp;title=%E9%A5%BF%E4%BA%86%E4%B9%88" target="_blank">在线客服</a>
			</dd>
		</dl>
		<dl class="footer-link">
			<dt class="footer-link-title">商务合作</dt>
			<dd>
				<a class="footer-link-item" href="//kaidian.ele.me" target="_blank">我要开店</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="http://ele.me/about/jiameng" target="_blank">加盟指南</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="http://ele.me/about/contact" target="_blank">市场合作</a>
			</dd>
		</dl>
		<dl class="footer-link">
			<dt class="footer-link-title">关于我们</dt>
			<dd>
				<a class="footer-link-item" href="/about" target="_blank">饿了么介绍</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="http://jobs.ele.me/" target="_blank">加入我们</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="/about/contact" target="_blank">联系我们</a>
			</dd>
			<dd>
				<a class="footer-link-item" href="/about/agreement" target="_blank">服务协议</a>
			</dd>
		</dl>
		<div class="footer-contect">
			<div class="footer-contect-item">24小时客服热线 : <a class="inherit" href="tel:10105757">10105757</a>
			</div>
			<div class="footer-contect-item">意见反馈 : <a class="inherit" href="mailto:feedback@ele.me">feedback@ele.me</a>
			</div>
			<div class="footer-contect-item">关注我们 :<div href="JavaScript:" class="icon-wechat">
					<div class="dropbox dropbox-bottom footer-contect-dropbox">
						<img src="image/wexinqc.png" alt="微信号: elemeorder">
						<p>微信号: elemeorder</p>
						<p>饿了么网上订餐</p>
					</div>
				</div><a href="http://e.weibo.com/elemeorder" class="icon-weibo" target="_blank"></a>
				<a href="http://page.renren.com/elemeorder" class="icon-renren" target="_blank"></a>
			</div>
		</div>
		<div class="footer-mobile">
			<a href="/mobile" target="_blank">
				<img src="image/appqc.png" class="footer-mobile-icon" alt="扫一扫下载饿了么手机 App">
			</a>
			<div class="footer-mobile-content">
				<h3>下载手机版</h3>
				<p>扫一扫,手机订餐方便</p>
				<a ng-href="http://m.ele.me/download/ios/eleme" target="_blank" class="icon-phone" href="http://m.ele.me/download/ios/eleme">iPhone</a>
				<a ng-href="http://m.ele.me/download/android/eleme" target="_blank" class="icon-android" href="http://m.ele.me/download/android/eleme">Android</a>
			</div>
		</div>
		<div class="footer-copyright serif">增值电信业务许可证 : <a href="http://www.shca.gov.cn/" target="_blank">沪B2-20150033</a> | <a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备 09007032</a> | <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120305173227823" target="_blank">上海工商行政管理</a> Copyright ©2008-2015 ele.me, All Right Reserved.</div>
		<div class="footer-police container">
			<a href="http://www.zx110.org/picp/?sn=310100103568" rel="nofollow" target="_blank">
				<img src="image/picp_bg.jpg" alt="已通过沪公网备案，备案号 310100103568" height="30">
			</a>
		</div>
	</div>
</footer>