.footer{
	background-color:#f7f7f7;
	margin-top:50px;
	border-top:1px solid #eee;
}
.footer-link,
.footer-contect,
.footer-mobile{
	float:left;
	width:15%;
	margin-top:30px;

	a:hover{
		color: #333;
		text-decoration: underline;
	}
}

.footer-link-title{
	font-size:14px;
	line-height:30px;
}

.footer-link-item,
.footer-contect-item{
	color: #999;
    display: block;
    line-height: 24px;
}

.footer-link-item{
	width:50%;
	font-size:12px;
}

.footer-contect{
	padding-right:10px;
	padding-left:3%;
	border-left:1px #e6e6e6 solid;
	width:23%;

	a:hover{
		text-decoration: none;
	}
}

.footer-contect-item [class^=icon-]:hover,.footer-contect-item>a:hover{
	text-decoration:none;
}

.footer-contect-item{
	margin-bottom:12px;
	color:#666;
	font-size:14px;

	[class^="icon-"]{
		display:inline-block;
		position:relative;
		margin-left:10px;
		cursor:pointer;

		&:before{
			font-size:24px;
			color:#ccc;
			vertical-align:middle;
		}
	}

	.icon-wechat{
		margin-left:5px;

		&:hover{

			&:before{
				color:#77d175;
			}

			.dropbox{
				display: block;
			}
		}

		.dropbox{
			display: none;

			&.dropbox-bottom{

				&:before{
					top: auto;
					bottom: -10px;
				}
			}
		}
	}

	.icon-weibo{
		
		&:hover:before{
			color:#fb545f;
		}
	}

	.icon-renren{
		
		&:before{
			font-size: 30px;
		}

		&:hover:before{
			color:#47a9f7;
		}
	}
}

.footer-contect-dropbox{
	bottom: 30px;
	left: -60px;
	text-align: center;

	&:before{
		left: 65px;
		border-color: #fff transparent transparent;
		z-index: 2;
	}

	img{
		width: 130px;
		height: 130px;
	}
}
	
.footer-mobile{
	float:right;
	width: 265px;
}

.footer-mobile-icon{
	width: 90px;
	height: 90px;
	margin-right: 20px;
	float: left;
}

.footer-mobile-content{

	> h3{
		font-size: 16px;
		color: #333;
		font-weight: 700;
		line-height: 30px;
	}

	> p{
		font-size: 12px;
		color: #666;
		margin: 3px 0 10px;
	}

	> a{
		display:inline-block;
		background:#fff;
		border:1px solid #dedede;
		font-size:12px;
		color:#666;
		padding:0 4px;
		line-height:24px;

		&:hover{
			color:#333;
		}
	}

	.icon-android,
	.icon-phone{

		&:before{
			font-size:18px;
			vertical-align:sub;
			margin-right:3px;
		}
	}

	.icon-android{

		&:before{
			color: #bcd07a;
		}
	}
	
}

.footer-copyright{
	font-size: 12px;
    clear: both;
    padding-top: 60px;
    color: #999;
    text-align: center;

    > a{
    	color: inherit;

    	&:hover{
    		color:#333;
			text-decoration:underline;
    	}
    }
}

.serif{
	font-family:Palatino,Optima,Georgia,serif;
}

.footer-police{
	padding: .5em 0;
    text-align: center
}